*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
li{
margin:40px;
}
body{
    background-color:#FFF4EC;
}
p{
color:#101316;
font-family:Georgia, 'Times New Roman', Times, serif;
}
.nav{
    text-decoration: none;
    color: #101113;
}
.searchbar{
    width: 250px;
    z-index: 1;
    
}
#search1{
    border: none;
}
#searchicon{
    position: absolute;
    top: 40px;
    right:185px;
    
}

#text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* #box{
    border: 2px solid;
    width: 140px;
    height: 35px;
    border-radius: 7px;
    background-color:rgb(147, 209, 237);
    position: absolute;
    top: 250px;
    text-align: center;
    font-size: 15px; */

#box1{
    padding-top:4px ;
    font-weight:600;
    border: none;
    position: absolute;
    top:300px;
    width: 480px;
    height: 70px;
    
    
}
/* #content{
    /* position:relative;
    top:120px;
    left:110px;
    font-size:20px; */
    /* border: solid;
    width:450px;
    height: 290px; */

pre{
    position: absolute;
    left:2px;
    font-weight:500;
}
#text1{
    position: absolute;
    top:28px;
    font-size:59px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#text2{
    position: absolute;
    top:150px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
#colorbox{
    height:570px;
    width: 570px;
    border-radius: 50%;
    border: solid;
    border-color:transparent;
    position: absolute;
    top:-35px;
    left:-199px;
    background-color: #F4D1C1;
}
.container{
position:relative;
    top:120px;
    left:110px;
    font-size:20px;
}
.box1{
position: absolute;
z-index: 2;
}
.box2{
/* position: absolute;
top: 30px;
right: 40px; */
z-index: 1;
}
.container2{
    position: relative;
    top: 5px;
    right:80px;
}
.box3{
   border-color: transparent;
    height: 650px;
    width: 650px;
    border-radius: 50%;
    position: absolute;
    left:1190px;
    top:-160px;
    background-color: #F4D1C1;
}
.box4{
   position: absolute;
   bottom:-190px;
   left:540px;
   width:100px;
   height: auto;
   
}
.crochetpic{
    width:800%;
    height: auto;
}
button{
    border-radius: 5px;
    height: 40px;
    width:120px;
    background-color:#FFF4EC;
    border-color: #F4D1C1;
    position: absolute;
    top:-25px;
}
.NextPage{
text-decoration: none;
color: #1565C0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
